# Google Maps JavaScript API Key
VITE_GOOGLE_MAPS_API_KEY=YOUR_GOOGLE_MAPS_API_KEY_HERE

# Google Sheets Integration
VITE_GOOGLE_SHEET_ID=1-9eVBefBNnBJMp4iQBlnA4wdHmEiinHERilgu-b7GQ4
VITE_GOOGLE_CLIENT_ID=752087917175-92ui9g4v2mct86k9eqgr11kki843v2pe.apps.googleusercontent.com
VITE_GOOGLE_SHEETS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbw2v9IL92_GbssxDC9-SRQmJ-vkj21A8FkzNMGHdZSpHassASSkdXdsBu5i1F0oQPQ/exec
